<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::navigation(parentCategories=${parentCategories})"></nav>
    <table>
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>

        <div class="threadlist m-4">
            <h2 th:text="${threadTitle.getTitle()}"></h2>
        </div>

        <tr th:each="post:${posts}">


            <div class="d-block p-3">
                <div class="d-inline-block p-2 border border-dark rounded" >
                    <span th:text="${post.getContent()}"></span>
                </div>

                <div class="d-inline-block p-2 border border-dark rounded">
                    <span th:text="${post.getCreated()}"></span>
                    <span th:text="${post.getUser()}"><</span>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a th:href="@{'/category/' + ${categoryId} + '/thread/' + ${threadId} + '/post/add'}">Dodaj nowy post</a>
        </li>
    </ul>
</body>
</html>