<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::navigation(parentCategories=${parentCategories})"></nav>

<div class="userpostslist m-4">
    <h2>Lista postów użytkownika </h2><h2 th:text="${username.getUsername()}"></h2>

    <br>
    <br>

    <tr th:each="post:${posts}">

    <div class="d-block p-2 border border-dark rounded" >
        <span th:text="${post}"></span><br>
    </div>

    </tr>
</div>
<br>

</body>
</html>