<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::navigation(parentCategories=${parentCategories})"></nav>


<form th:action="@{'/category/' + ${categoryId} + '/thread/'+ ${threadId}+'/post'}" method="post">
    <div class="threadlist m-4">
        <h2 th:text="${thread.getTitle()}"></h2>
    </div>
    <textarea name="content" placeholder="Wpisz zawartość..."></textarea><br>
<!--    <input type="text"name="email" placeholder="Wpisz e-mail..."><br>-->
    <button type="submit">Dodaj post</button>
</form>

</body>
</html>