<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista kategorii</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            Nazwa kategorii
        </th>
        <th>
            Opis kategorii
        </th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="book" type="pl.sda.springproject.model.Book"*/-->
    <tr th:each="category:${categories}">
        <td th:text="${category.getTitle()}">
            Tytuł
        </td>
        <td th:text="${category.getDescription()}">
            Opis kategorii
        </td>
    </tr>
    </tbody>
</table>
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/category/add">Dodaj kategorię</a>
    </li>
</ul>
</body>
</html>