<!DOCTYPE html>
<html lang="en">
    <head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Strona startowa</title>
</head>
<body>
<nav th:replace="main::navigation(parentCategories=${parentCategories})"></nav>
<div class="description m-5" style="width: 1000px;">
    <img src="https://i.ibb.co/HTHn80C/logo-transparent.png" width="220px" height="130px">
    <br><br>
    <div>
    <h2>
Witaj na stronie poświęconej programowaniu.
Podpowiemy Ci od czego zacząć, jak się szybko nauczyć programować oraz dołączysz do grupy premium codeFunk.
    </h2></div>
    <br>
    <div class="float-right">
    <img src="https://i.ibb.co/W3DbJNx/IMG-0097.jpg" width="450px" height="600px">
    </div>
</div>
</body>
</html>