<!DOCTYPE html>
<html lang="en">
<head th:fragment="head" >
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CodeFunk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<!--    <div th:fragment="formField (field, value, size)">-->
<!--        <div>-->
<!--            <label th:for="${#strings.toLowerCase(field)}"> <span-->
<!--                    th:text="${field}">Field</span>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="text" th:id="${#strings.toLowerCase(field)}"-->
<!--                   th:name="${#strings.toLowerCase(field)}" th:value="${value}"-->
<!--                   th:size="${size}">-->
<!--        </div>-->
<!--    </div>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/work"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/languages"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/learning"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="mr-2">
<span class="navbar-text my-2">
    Użytkownik:
    <strong
            th:text="${#strings.equals(#authentication.getName(), 'anonymousUser') ? 'niezalogowany' : #authentication.getName() }">
    </strong>
</span>
        </div>
        <div class="ml-3" th:if="${!#strings.equals(#authentication.getName(), 'anonymousUser')}">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/logout}">Wyloguj</a>
        </div>
        <div th:if="${#strings.equals(#authentication.getName(), 'anonymousUser')}">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">Zaloguj</a>
        </div>
    </div>
    </div>
</nav>
</body>
</html>